.mw-340 {
    max-width: 340px;
}
.author-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.type-image {
    height: auto !important;
}
.type-image img {
    width: 58px !important;
    height: auto !important;
    margin-bottom: 0px !important;
}
/* .partner-item:hover {
    filter: brightness(0) saturate(100%) invert(50%) sepia(50%) saturate(1000%) hue-rotate(180deg);
} */
.car-image {
    width: 100%;
    height: 225px;
    overflow: hidden;
    object-fit: cover;
}
.swiper-image {
    height: 467px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.sc-button-filter {
    padding: 15px 21.5px;
    min-width: 203px;
    text-align: center;
    border-bottom-style: none !important;
    border-right-style: none !important;
    margin-left: 10px !important;
}
